/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

body{
    width: 100%;
background: rgba(68,159,171,1);
background: -moz-linear-gradient(left, rgba(68,159,171,1) 0%, rgba(145,24,108,1) 49%, rgba(177,89,153,1) 72%, rgba(178,91,150,1) 74%, rgba(184,106,118,1) 95%, rgba(185,110,110,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(68,159,171,1)), color-stop(49%, rgba(145,24,108,1)), color-stop(72%, rgba(177,89,153,1)), color-stop(74%, rgba(178,91,150,1)), color-stop(95%, rgba(184,106,118,1)), color-stop(100%, rgba(185,110,110,1)));
background: -webkit-linear-gradient(left, rgba(68,159,171,1) 0%, rgba(145,24,108,1) 49%, rgba(177,89,153,1) 72%, rgba(178,91,150,1) 74%, rgba(184,106,118,1) 95%, rgba(185,110,110,1) 100%);
background: -o-linear-gradient(left, rgba(68,159,171,1) 0%, rgba(145,24,108,1) 49%, rgba(177,89,153,1) 72%, rgba(178,91,150,1) 74%, rgba(184,106,118,1) 95%, rgba(185,110,110,1) 100%);
background: -ms-linear-gradient(left, rgba(68,159,171,1) 0%, rgba(145,24,108,1) 49%, rgba(177,89,153,1) 72%, rgba(178,91,150,1) 74%, rgba(184,106,118,1) 95%, rgba(185,110,110,1) 100%);
background: linear-gradient(to right, rgba(68,159,171,1) 0%, rgba(145,24,108,1) 49%, rgba(177,89,153,1) 72%, rgba(178,91,150,1) 74%, rgba(184,106,118,1) 95%, rgba(185,110,110,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#449fab', endColorstr='#b96e6e', GradientType=1 );
}

section {
  padding-top: 100px;
}

.App {
  text-align: center;
}



.App-header {
  background-color: rgb(100, 192, 184);
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}




p,
h1,
h2,
h3,
h4,
Form, Button, Card, Nav {
  color: black;
  font-family: "Roboto", sans-serif;
  font-family: "Lilita One", cursive;
  text-align: center;
}
