.photo{
  
 
}


.photo img{
    height: 300px;
    width: 300px;
   margin-right: 80%;

   border: 3px rgb(52, 58, 63) solid;
}

.description{
      height: 200px;
      width: 200px;
      margin-right: 40%;
  
    }
