.footer {
  position: fixed;
 display: flex;

  bottom: 0;
  width: 100vw;
  background-color: rgb(52, 58, 63);
}

.footer p,
h3 {
  color: rgb(201, 75, 120);
}

.fl{
margin-left: 2%;
}

.fr{
margin-left: 2%;
}