


.map{
margin-left: 3%;
box-sizing: border-box;
position: relative;
}


.MapContainer {
    margin-top: 50%;

}




.div-map{
width: 25%;
margin-left: 60%;
color: whitesmoke;
   
  
 
}


.CardTitle h1{

    color:rgb(66, 215, 252);
}

